// primary color
$nutmeg: hsl(14, 45%, 36%);// second title
$dark-raspberry: hsl(332, 51%, 32%);// third title

// Secondaary color
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);// box bg
$eggshell: hsl(30, 54%, 90%);// main bg
$light-grey: hsl(30, 18%, 87%);// border
$wenge-brown: hsl(30, 10%, 34%);// text color
$dark-charcoal: hsl(24, 5%, 18%);// big title

// text size
$p-size: 16px;

// Fonts
$t-family: 'Young Serif', serif;// big title
$family: 'Outfit', sans-serif;